// mixin.scss

// border
@mixin border-primary {
    border: 2px solid #14532d;
}

@mixin border-secondary {
    border: 2px solid #262626;
}

@mixin border-default {
    border: 2px solid #343434;
}

@mixin border-destroy {
    border: 2px solid #7c2422;
}

// transition
@mixin transition-smooth {
    transition: all 0.3s ease-in;
}

// display
@mixin custom-flex(
    $direction: row, $wrap: nowrap,
    $justify-content: flex-start, 
    $align-items: flex-start
) {
    display: flex;
    flex-direction: $direction;
    flex-wrap: $wrap;
    justify-content: $justify-content;
    align-items: $align-items;
}

// full backgorund and border
@mixin custom-bg-border(
    $color: white, 
    $background-color: black,
    $border: 1px solid white,
    $border-radius: 5px
) {
    color: $color;
    background-color: $background-color;
    border: $border;
    border-radius: $border-radius;
}

